@font-face {
    font-family: "Input Nerd Font";
    font-style: normal;
    font-weight: 200;
    src: url('https://drive.google.com/uc?export=download&id=1tMGxpzpvhhD_uOtb9EUhABSa_b4otdz0' format('truetype'));
}
@font-face {
    font-family: "Input Nerd Font";
    font-style: normal;
    font-weight: 400;
    src: url('https://drive.google.com/uc?export=download&id=1ooZj8HfOmu2u8UvC3MxNFi_02jXxVb4j' format('truetype'));
}